<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Reporte de Tutores</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <center>
        <h1>Formulario de Reporte de Tutores</h1>
    </center>
    <form action="/submit" method="POST">
        <div class="form-container">

            <div class="form-group">
                <label for="tutor">Nombre del Tutor:</label>
                <select id="tutor" name="tutor" required>
                    <option value="Jose Manuel Flores Juarez">Jose Manuel Flores Juarez</option>
                    <option value="Diana Lizeth Ahuatzi Reyes">Diana Lizeth Ahuatzi Reyes</option>
                    <option value="Alfredo Garcia Ruiz">Alfredo Garcia Ruiz</option>
                    <option value="Elizabeth Cortes Ramos">Elizabeth Cortes Ramos</option>
                    <option value="Maricela Gress Roldan">Maricela Gress Roldan</option>
                    <option value="Jose Marin Rugerio Atriano">Jose Marin Rugerio Atriano</option>
                    <option value="Sonia Lopez Rodriguez">Sonia Lopez Rodriguez</option>
                    <option value="Margarita Lima Esteban">Margarita Lima Esteban</option>
                    <option value="Juan Gabriel Valencia Muñoz">Juan Gabriel Valencia Muñoz</option>
                    <option value="Miguel Torreon Hernandez">Miguel Torreon Hernandez</option>
                    <option value="Francisco Lopez Briones">Francisco Lopez Briones</option>
                    <option value="Aldo Giovani Luria Garcia">Aldo Giovani Luria Garcia</option>
                </select>
            </div>

            <div class="form-group">
                <label for="carrera">Carrera:</label>
                <select id="carrera" name="carrera" required>
                    <option value="tsu0">Tecnologías de la Información Área Desarrollo de Software Multiplataforma</option>
                    <option value="tsu1">Tecnologías de la Información Área Infraestructura de Redes Digitales</option>
                    <option value="tsu2">Tecnologías de la Información Área Entornos Virtuales y Negocios Digitales</option>
                    <option value="tsu3">Ingeniería en Desarrollo y Gestión de Software</option>
                    <option value="tsu4">Ingeniería en Redes Inteligentes y Ciberseguridad</option>
                    <option value="tsu5">Ingeniería en Entornos Virtuales y Negocios Digitales</option>
                </select>
            </div>

            <div class="form-group">
                <label for="grupo">Grupo:</label>
                <select id="grupo" name="grupo" required>
                    <option value="1A">1A</option>
                    <option value="1B">1B</option>
                    <option value="2A">2A</option>
                    <option value="2B">2B</option>
                    <option value="3A">3A</option>
                    <option value="3B">3B</option>
                    <option value="4A">4A</option>
                    <option value="4B">4B</option>
                    <option value="5A">5A</option>
                    <option value="5B">5B</option>
                    <option value="6A">6A</option>
                    <option value="6B">6B</option>
                    <option value="7A">7A</option>
                    <option value="7B">7B</option>
                    <option value="8A">8A</option>
                    <option value="8B">8B</option>
                    <option value="9A">9A</option>
                    <option value="9B">9B</option>
                    <option value="10A">10A</option>
                    <option value="10B">10B</option>
                </select>
            </div>

            <div class="form-group">
                <label for="tutor">Parcial:</label>
                <select id="tutor" name="tutor" required>
                    <option value="1parcial">1 Parcial</option>
                    <option value="2parcial">2 Parcial</option>
                    <option value="3parcial">3 Parcial</option>
                    <option value="4parcial">4 Parcial</option>
                </select>
            </div>

            <div class="form-group">
                <label for="actividad">Nombre Actividad:</label>
                <input type="text" id="actividad" name="actividad" required>
            </div>

            <div class="form-group">
                <label for="asistencia">Lista de asistencia a sesión:</label>
                <div class="radio-group">
                    <input type="radio" id="si" name="asistencia" value="1" required>
                    <label for="si">Si</label>
                    <input type="radio" id="no" name="asistencia" value="0" required>
                    <label for="no">No</label>
                </div>
            </div>

            <div class="form-group">
                <label for="seguimiento_individual">Seguimiento de tutoría individual del estudiante:</label>
                <input type="text" id="seguimiento_individual" name="seguimiento_individual" required>
            </div>

            <div class="form-group">
                <label for="accion_tutorial">Seguimiento de la acción tutorial:</label>
                <div class="radio-group">
                    <input type="radio" id="entregado" name="accion_tutorial" value="1" required>
                    <label for="entregado">Entregado</label>
                    <input type="radio" id="no_entregado" name="accion_tutorial" value="0" required>
                    <label for="no_entregado">No Entregado</label>
                </div>
            </div>

            <div class="form-group">
                <label for="fecha">Fecha:</label>
                <input type="date" id="fecha" name="fecha" required>
            </div>

            <div class="form-group">
                <label for="causa_baja">Encuesta de causa de baja:</label>
                <input type="text" id="causa_baja" name="causa_baja">
            </div>

            <div class="form-group">
                <label for="canalizacion">Canalización:</label>
                <input type="text" id="canalizacion" name="canalizacion">
            </div>

            <div class="form-group">
                <label for="file">Subir Evidencias:</label>
                <input type="file" id="file" name="file" accept=".pdf, .doc, .docx, .txt">
            </div>

            <div class="button">
                <input type="submit" value="Enviar">
            </div>

        </div>
    </form>
</body>
</html>
