<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Reporte de Tutores</title>
    <Style>
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            background-color:whitesmoke;
        }
        .form-container {
            background-color: #fff;
            padding: 20px;
            border-radius: 15px;
            max-width: 500px;
            margin: auto;
            box-shadow: 0 20px 20px rgba(0, 0, 0, 0.8);
        }

        .form-container .form-group label {
            font-weight: bold;
        }
    </Style>
</head>
<body>
    <center>
        <h1>Formulario de Reporte de Tutores</h1>
    </center>
    <form action="/submit" method="POST">
        <div class="form-container">


        <label for="carrera">Carrera:</label><br>
        <select id="carrera" name="carrera">
            <option value="tsu0">Tecnologias de la Informacion Area Desarrollo de Software Multiplataforma</option>
            <option value="tsu1">Tecnologias de la Informacion Area Infraestructura de Redes Digitales</option>
            <option value="tsu2">Tecnologias de la Informacion Area Entornos Virtuales y Negocios Digitales</option>
            <option value="tsu3">Ingenieria en Desarrollo y Gestion de Software</option>
            <option value="tsu4">Ingenieria en Redes Inteligentes y Ciberseguridad</option>
            <option value="tsu5">Ingenieria en Entornos Virtuales y Negocios Digitales</option>
        </select>
        <br>

        <label for="grupo">Grupo:</label><br>
        <select id="grupo" name="grupo">
            <option value="grupo0">1A</option>
            <option value="grupo1">1B</option>
            <option value="grupo2">2A</option>
            <option value="grupo3">2B</option>
            <option value="grupo4">3A</option>
            <option value="grupo5">3B</option>
            <option value="grupo6">4A</option>
            <option value="grupo7">4B</option>
            <option value="grupo8">5A</option>
            <option value="grupo9">5B</option>
            <option value="grupo10">6A</option>
            <option value="grupo11">6B</option>
            <option value="grupo12">7A</option>
            <option value="grupo13">7B</option>
            <option value="grupo14">8A</option>
            <option value="grupo15">8B</option>
            <option value="grupo16">9A</option>
            <option value="grupo17">9B</option>
            <option value="grupo18">10A</option>
            <option value="grupo19">10B</option>
        </select>
        <br>

        <label for="tutor">Nombre del Tutor:</label><br>
        <select id="tutor" name="tutor">
            <option value="Profe0">Jose Manuel Flores Juarez</option>
            <option value="Profe1">Diana Lizeth Ahuatzi Reyes</option>
            <option value="Profe2">Alfredo Garcia Ruiz</option>
            <option value="Profe3">Elizabeth Cortes Ramos</option>
            <option value="Profe4">Maricela Gress Roldan</option>
            <option value="Profe5">Jose Marin Rugerio Atriano</option>
            <option value="Profe6">Sonia Lopez Rodriguez</option>
            <option value="Profe7">Margarita Lima Esteban</option>
            <option value="Profe8">Juan Gabriel Valencia Muñoz</option>
            <option value="Profe9">Miguel Torreon Hernandez</option>
            <option value="Profe10">Francisco Lopez Briones</option>
            <option value="Profe11">Aldo Giovani Luria Garcia</option>
        </select>
        <br><br>

        <label for="documentos">Nombre Actividad:</label><br>
        <textarea id="documentos" name="documentos"></textarea><br><br>
        <label for="documentos">Nombre Actividad:</label><br>
        <textarea id="documentos" name="documentos2"></textarea><br><br>
        <label for="documentos">Nombre Actividad:</label><br>
        <textarea id="documentos" name="documentos3"></textarea><br><br>
        <label for="documentos">Nombre Actividad:</label><br>
        <textarea id="documentos" name="documentos4"></textarea><br><br>

        <label for="asistencia">Lista de asistencia a sesión:</label><br>
        <textarea id="asistencia" name="asistencia"></textarea><br><br>
        <label for="asistencia">Lista de asistencia a sesión:</label><br>
        <textarea id="asistencia" name="asistencia2"></textarea><br><br>
        <label for="asistencia">Lista de asistencia a sesión:</label><br>
        <textarea id="asistencia" name="asistencia3"></textarea><br><br>
        <label for="asistencia">Lista de asistencia a sesión:</label><br>
        <textarea id="asistencia" name="asistencia4"></textarea><br><br>

        <label for="seguimiento">Seguimiento de tutoría individual del estudiante:</label><br>
        <textarea id="nombres" name="nombres"></textarea><br><br>
        <p>
            <label for="seguimiento">Seguimiento de la accion tutorial:</label><br>
            <input type="radio" name="seguimiento" value="1"> Entregado
            <input type="radio" name="seguimiento" value="0"> No Entregado
        </p>

        <label for="fecha">Fecha:</label><br>
        <input type="date" name="fecha"><br><br>

        <label for="causa_baja">Encuesta de causa de baja:</label><br>
        <textarea id="causa_baja" name="causa_baja"></textarea><br><br>
        
        <label for="canalizacion">Canalización:</label><br>
        <textarea id="canalizacion" name="canalizacion"></textarea><br><br>
        

        <input type="submit" value="Enviar">
        </div>
    </form>
</body>
</html>